<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/logins.css">
</head>

<body>
  
  <form method="POST" action="/signup">
    <label for="username">Username</label>
    {{#if username}}
    <input type="text" name="username" id="username" value="{{username}}">
    {{else}}
    <input type="text" name="username" id="username">
    {{/if}}
    <label for="user-email">Email</label>
    {{#if username}}
    <input type="email" name="email" id="user-email" value="{{email}}">
    {{else}}
    <input type="email" name="email" id="user-email">
    {{/if}}
    <label for="user-pass">Password</label>
    <input type="password" name="password" id="user-pass">
    <button type="submit">Sign Up</button>
    <p>
    Have an account? <span class="field-content highlight-front">
        <a href="/login" hreflang="en">Log In</a>
      </span>
  </p>
  </form>

  {{#if errorMessage}}
  <div class="error">{{errorMessage}}</div>
  {{/if}}

</body>

</html>