<div class="title-panel" id='wand-title-panel'>
  <h1 class="title" id='wand-title'>Ollivander's</h1>
  <h3 class="sub-title" id='wand-sub-title'>Makers of fine wands since<br>382 B.C.</h3>
</div>

<div class="main-panel" id="wand-main-panel">

  <div class="orrey-panel">

    <div class="celes-main-ring" id='ring-2'>

      <div class="celes-body" id='planet-2'></div>

      <div class="celes-main-ring" id='ring-1'>

        <div class="celes-body" id='planet-1'></div>

        <div class="sun"></div>

      </div>

    </div>
  </div>

  <article id='wand-shop-info'>
    Ahhh yes. Yes, yes, yes. Very Interesting. I think I have just the wand for you. Just a moment, just a second! Maybe
    behind this skull?
    <br>
    <br>
    Ah! Yes! Here we are, {{wood}}, {{core}}, {{length}} inches aaand, {{flexibility}}.
    <br>
    <br>
    Go on, go on, give it a wave! Try it out!
    <br>
    <br>
    It works for you? Excellent, <em>excellent</em>, I thought that particular wand would suit you.
    <br>
    <br>
    Anyway, shall I have it wrapped and sent to your profile? Excellent, excellent.
    <br>
    <br>
    I think we can expect great things from you {{user.username}}.
    <br>
    <br>
    Yes indeed...
  </article>

</div>