<head>
  <script src="https://kit.fontawesome.com/69e6589eb5.js" crossorigin="anonymous"></script>
</head>
<div class="title-panel">
  <h1 class="title">{{user.username}}</h1>
</div>

<img src="/images/iron-bracket.png" alt="iron-bracket" id="left-bracket">
<img src="/images/iron-bracket.png" alt="iron-bracket" id="right-bracket">

<div class="shop-items-panel main-panel">

    <div class="house-head-image">
        <img src="/images/{{user.hogwartsHouse}}.png" alt="">
    </div>

  <ul class='shop-item-list'>
  {{#each sortedItems}}
    {{#each this}}
        <li class="unowned">
        <div class="shop-item">

            <div class="icon-panel">
            <i class="{{this.icon}}"></i>
            </div>

            <div class="item-text-panel">

            <div class="name-panel">
                <p>{{this.name}}</p>
            </div>
            <div class="desc-panel">
                <p>{{this.description}}</p>
            </div>

            </div>

            <div class="button-panel">
                <form method="POST" action="/shop/{{../type}}/{{this._id}}/delete">
                <button type="submit" class="shop-button shop-delete-button"><i class="fas fa-minus"></i></button>
                </form>
            </div>

        </div>
        </li>
    {{/each}}
  {{/each}}
  </ul>
</div>