<head>
  <script src="https://kit.fontawesome.com/69e6589eb5.js" crossorigin="anonymous"></script>
</head>
<link rel="icon" href="../images/allhouses.png">
<div>This is your profile page dude!!</div>

<div class="profile-items-panel main-panel">
    {{#each items}}
    {{#each this.ownedItems}}
    <i class="{{this.icon}}"></i>
    <p>Name: {{this.name}}</p>
    <p>Type: {{this.itemType}}</p>
    <p>Description: {{this.description}}</p>
        <form method="POST" action="/profile/{{this._id}}/delete" >
            <button type="submit" class="">-</button>
        </form>
        {{/each}}
    {{/each}}
</div>